
.container {
 max-width: 75vw;
}

.row{
  margin-top: 2%;
}

.subtitle {
  margin-top: -5%;

}

img{
  mix-blend-mode: multiply;
}

.bordered {
  border:2px solid black;

}


body {
  font-family: 'Lato', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.7em;
  background-color: #b3c7d1;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  color: black;
}

h1{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}


h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

h6 { font-size: 2rem; line-height: 1.5;  letter-spacing: 0.0;}

hr{
     display: block;
     height: 1px;
     border: 0;
     border-top: 2px solid black;
     margin: 1em 0;
     padding: 0;

}

.texty{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
}

.logo {
  width: 25vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.footerLogos {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footerImg {
  width: 10vw;
  vertical-align: middle;

}

.centred {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.featured {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}





/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: black;
  text-decoration: none !important; }
a:hover {
  color: black ;
  text-shadow: .1px .1px .5px #036999;
  text-decoration: none !important;}


/* Larger than mobile */
@media (max-width: 400px) {
  .container {
   max-width: 98vw;
  }
  .row{
    margin-top: 1%;
  }
  .subtitle {
    margin-top: -7%;

  }
  .logo {
    width: 70vw;
  }
  .footerImg {
    width: 30vw;
    vertical-align: middle;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (max-width: 550px) {
  .container {
   max-width: 95vw;
  }
  .row{
    margin-top: 1.2%;
  }
  .subtitle {
    margin-top: -6%;

  }
  .logo {
    width:60vw;
  }
  .footerImg {
    width: 30vw;
    vertical-align: middle;
  }
  body {
    font-size: 1.1em;
  }

}

/* related to Thingiverse TAG */

#tagback {padding: 50px;background: white;}
.tag {position: relative;border: 2px solid #eeeeee;width: 80% ;height: 150px;margin: 0px;padding: 10px 10px 10px 120px;}
.tag .qrcode-sidebar {float: right;margin: 0px;padding: 0px;}
.tag a {color: black;text-decoration: none;}
.tag h1 {font: bold 18px Arial,sans-serif;margin: 0px;padding: 0px; word-wrap: break-word; max-height: 2.25em; overflow: hidden;}
.tag h2 {font: 14px Arial,sans-serif;margin: 0px;padding: 0px;}
.tag h3 {font: 12px Courier,monospace;margin: 0px;padding: 0px;}
.tag h4 {font: 9px Arial,sans-serif;position: absolute;bottom: 0px;left: 0px;margin: 0px 150px 0px 0px;padding: 0px;}
.tag h4 div {float: left;margin: 0px 5px 15px 125px;height: 40px;}
.tag h4 div img {height: 40px;}

.stamp {
	width: 15vw;
	display: inline-block;
	padding: 1vw;
	background: transparent;
	position: relative;
	-webkit-filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.3));
	/*The stamp cutout will be created using crisp radial gradients*/
	background: radial-gradient(
		transparent 0px,
		transparent 2px,
	);

}


/* Larger than tablet */
@media (max-width: 750px) {
  body {
    font-size: 1.3em;
  }
  .container {
   max-width: 90vw;
  }
  .row{
    margin-top: 1.8%;
  }

  .logo {
    width: 40vw;
  }
  .footerImg {
    width: 30vw;
    vertical-align: middle;
  }
  .stamp {
  	width: 80vw;}

  #tagback{
    display: none;
  }
  .tag {display:none;}

}

/* Larger than desktop */
@media (max-width: 1000px) {
  .footerImg {
    width: 30vw;
    vertical-align: middle;
  }
  .stamp {
  	width: 60vw;}


}

/* Larger than Desktop HD */
@media (min-width: 1600px) {
  .subtitle {
    margin-top: -2.5%;

  }


}
